{% extends "admin/adminlayout.html" %} {% block content %}

<main class="mt-3 pt-3">
  <div class="container-fluid">
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %}
      <div
        class="alert alert-{{ category }} alert-dismissible fade show"
        role="alert"
        id="success-alert"
      >
        {{ message }}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      {% endfor %} {% endif %} {% endwith %}
  <h2 class="text-center">HOD details</h2>
  <form method="Post" action="">
    {{ form.hidden_tag() }}
    <div class="row mb-1 align-items-center">
      {{ form.Full_name.label(class="col-sm-3 ms-3 col-form-label-lg") }}
      <div class="col-sm-3">
        {%if form.Full_name.errors%} {{form.Full_name(class="form-control
        is-invalid",placeholder='Enter full name ' )}} {%for error in
        form.Full_name.errors%}
        <span>{{error}}</span>
        {%endfor%} {%else%} {{form.Full_name(class="form-control",
        placeholder='Enter full name ')}} {%endif%}
      </div>
    </div>
    <div class="row mb-1 align-items-center">
      {{ form.DOB_field.label(class="col-sm-3 ms-3 col-form-label-lg") }}
      <div class="col-sm-2">
        {%if form.DOB_field.errors%} {{form.DOB_field(class="form-control
        is-invalid")}} {%for error in form.DOB_field.errors%}
        <span>{{error}}</span>
        {%endfor%} {%else%} {{form.DOB_field(class="form-control")}} {%endif%}
      </div>
    </div>
    <div class="row mb-1 align-items-center">
      {{ form.date_of_joining.label(class="col-sm-3 ms-3 col-form-label-lg") }}
      <div class="col-sm-2">
        {%if form.date_of_joining.errors%}
        {{form.date_of_joining(class="form-control is-invalid")}} {%for error in
        form.date_of_joining.errors%}
        <span>{{error}}</span>
        {%endfor%} {%else%} {{form.date_of_joining(class="form-control")}}
        {%endif%}
      </div>
    </div>
    <div class="row mb-1 align-items-center">
      {{ form.teacher_id.label(class="col-sm-3 ms-3 col-form-label-lg") }}
      <div class="col-sm-3">
        {%if form.teacher_id.errors%} {{form.teacher_id(class="form-control
        is-invalid", placeholder='Enter teacher ID ')}} {%for error in
        form.teacher_id.errors%}
        <span>{{error}}</span>
        {%endfor%} {%else%} {{form.teacher_id(class="form-control",
        placeholder='Enter teacher ID ')}} {%endif%}
      </div>
    </div>
  

    <div class="row mb-1 align-items-center">
      <label class="col-form-label-lg col-sm-3 ms-3">Choose Image Source</label>
      <div class="col-sm-3 m-2">
        {% for choice, label in form.image_source.choices %} {% if not
        loop.first %} {# Exclude CSRF field #}
        <div class="form-check">
          {{ form.image_source(class="form-check-control list-unstyled " ,
          value=choice, onclick="toggleImageSource('" + choice + "')") }}
        </div>
        {% endif %} {% endfor %}
      </div>
    </div>

    <span id="upload-fields">
      <div class="row mb-1 align-items-center">
        {{ form.image_fold.label(class="col-form-label-lg col-sm-3 pb-md-5 ms-3 ") }}
        <div class="col-sm-5">
          <div class="row d-flex align-items-center">
            <div class="col-sm-8">
              {%if form.image_fold.errors%}
              {{form.image_fold(class="form-control is-invalid" )}} {%for error
              in form.image_fold.errors%}
              <span>{{error}}</span>
              {%endfor%}
               {%else%}
                {{form.image_fold(class="form-control",
              multiple="multiple", id="image_files")}} 
              {%endif%}
              <span style="color: red; font-size:smaller;"><p>Select max 3 images </p></span>

            </div>
            <div class="col-sm-2">
              <div
                id="preview-container"
                class="m-2 d-flex flex-row"
                style="width: 50px"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </span>

    <span id="webcam-fields" style="display: none">
      <div class="row mb-1 align-items-center">
        <label class="col-form-label-lg col-sm-3 ms-3"
          >Webcam Capture Fields</label
        >
        <div class="col-sm-5">
          <!-- Button trigger modal -->
          <div class="row d-flex align-items-center">
            <div class="col-sm-5"><button
              type="button"
              id="modelbtn"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#cameraModal"
              onclick="requestCameraPermission()"
              
            >
              Open Webcam
            </button></div>
            {{form.cam_fold(class="form-control d-none ",
            multiple="multiple", id="cam_files")}} 
            <div class="col-sm-5">
              <div
                  id="preview-container2"
                  class="d-flex flex-row"
                  style="width:80px"
                ></div>
            </div>
          </div>
          
      

        </div>

        <div
          class="modal fade"
          id="cameraModal"
          tabindex="-1"
          aria-labelledby="cameraModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="cameraModalLabel">
                  Camera Capture
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                  onclick="stopCamera()"
                ></button>
              </div>
              <div class="modal-body" >
                <div class="row">
                  <div class="col-sm-5">
                    <!-- Webcam Feed -->
                    <div id="webcam-feed" class="mb-3">
                      <video
                      id="cameraFeed"
                      class="img-fluid mb-3"
                      autoplay
                    ></video>
                    </div>
                   
                  </div>
                  <div class="col-sm-5">
                    <!-- Select Camera Device -->
                    <div class="mb-3">
                      <label for="cameraDevice" class="form-label"
                        >Select Camera Device:</label
                      >
                      <select class="form-select" id="cameraDevice" >
                        <option value="" >Select Camera...</option>
                      </select>
                    </div>
                    
                    <!-- Capture Images -->
                    <button
                      id="capturebtn"
                      type="button"
                      class="btn btn-primary"
                      onclick="captureImages()"
                    >
                      Capture 3 Images
                    </button>
                    <div
                    id="new-preview"
                    class="m-2 d-flex flex-row"
                    style="width: 100px"
                  ></div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                  onclick="stopCamera()"
                >
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </span>

    <div class="row mb-1 mt-4 d-flex justify-content-center">
      <div class="col-sm-5">
        <span class="w-100 custom-btn btn-15 text-center"
          >{{form.Submit(class="btn bg-transparent w-100 " ) }}</span
        >
      </div>
    </div>
  </form>
</div>

</main>

<style>
  .custom-btn {
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
      7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    outline: none;
  }

  /* 15 */
  .btn-15 {
    background: #b621fe;
    border: none;
    z-index: 1;
  }
  .btn-15:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #663dff;
    border-radius: 5px;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
      7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  .btn-15:hover {
    color: #fff;
  }
  .btn-15:hover:after {
    left: 0;
    width: 100%;
  }
  .btn-15:active {
    top: 2px;
  }
</style>

{% endblock %} 
{% block javascript %}
<script>

  $("#success-alert")
  .fadeTo(1000, 500)
  .slideUp(500, function () {
    $("#success-alert").slideUp(500);
  });

  function displayofFunction() {
    d1.style.display = "none";
    
   } ;


   function displayonFunction() {
    d1.style.display = "";
    
   } ;
  function toggleImageSource(choice) {
    if (choice === "upload") {
      document.getElementById("upload-fields").style.display = "block";
      document.getElementById("webcam-fields").style.display = "none";
    } else if (choice === "webcam") {
      
      document.getElementById("upload-fields").style.display = "none";
      document.getElementById("webcam-fields").style.display = "block";
      document.getElementById('preview-container').innerHTML = '';
      document.getElementById("image_files").value = "";
    }
  }

  document.addEventListener("DOMContentLoaded", function () {
    var choices = document.getElementsByName("image_source");

    choices.forEach(function (choice) {
      choice.addEventListener("change", function () {
        toggleImageSource(choice.value);
      });
    });
  });


  


  document.addEventListener('DOMContentLoaded', function () {
    var fileInput = document.getElementById('image_files');
    var previewContainer = document.getElementById('preview-container');

    fileInput.addEventListener('change', function () {
        previewContainer.innerHTML = ''; // Clear previous previews

        for (var i = 0; i < fileInput.files.length; i++) {
            var file = fileInput.files[i];
            var reader = new FileReader();

            reader.onload = function (e) {
                var img = document.createElement('img');
                img.src = e.target.result;
                img.className = 'img-thumbnail mr-2';
                previewContainer.appendChild(img);
            };

            reader.readAsDataURL(file);
        }
    });
});






async function requestCameraPermission() {
  try {
    const stream = await navigator.mediaDevices.getUserMedia({ video: true });
    console.log('Camera access granted');
    getCameraDevices()
    // You can handle the stream, e.g., display it in a video element
    //const videoElement = document.getElementById('cameraPreview');
   // videoElement.srcObject = stream;
  } catch (error) {
    console.error('Error accessing the camera:', error);
    // Handle errors, e.g., show an error message to the user
  }
}

async function getCameraDevices() {
  try {
      const devices = await navigator.mediaDevices.enumerateDevices();
      const deviceArray = Array.from(devices);
      const videoDevices = deviceArray.filter(device => device.kind === 'videoinput');

      var cameraSelect = document.getElementById('cameraDevice');
      var previewContainer = document.getElementById('new-preview');
      
      // Clear the preview container when capturing from the webcam is selected
      previewContainer.innerHTML = "";

      // Clear image file input value when capturing from the webcam is selected
      document.getElementById("image_files").value = "";

      // Populate dropdown with available camera devices
      populateDropdown(videoDevices);

      console.log('Available camera devices:', videoDevices);
  } catch (error) {
      console.error('Error enumerating camera devices:', error);
  }
}

  function populateDropdown(devices) {
    const dropdown = document.getElementById('cameraDevice');
    var cameraSelect = document.getElementById('cameraDevice');
   
    devices.forEach(device => {
      const option = document.createElement('option');
      option.value = device.deviceId;
      option.text = device.label || `Camera ${dropdown.options.length + 1}`;
      removeOption('cameraDevice', option.value);
      dropdown.appendChild(option);
    });

    
  cameraSelect.addEventListener('change', function () {
    if (cameraSelect.value === "Select Camera..."){
      //stopCamera()
    }
    else{
      var constraints = {
        video: {
            deviceId: { exact: cameraSelect.value },
            width: { ideal: 640 },
            height: { ideal: 480 }
        }
    };

    // Access the user's camera
    navigator.mediaDevices.getUserMedia(constraints)
        .then(function (stream) {
          
            cameraFeed.srcObject = stream;
           
        })
        .catch(function (error) {
            console.error('Error accessing the webcam:', error);
        });
      }
});


  }
  function captureImages() {
    let imageCaptureCount = 0; 
    const previewContainer = document.getElementById('new-preview');
    previewContainer.innerHTML="";
    document.getElementById('capturebtn').innerHTML = " ReCapture 3 images "

    // Check if the webcam feed is available
    const cameraFeed = document.getElementById('cameraFeed');
    if (!cameraFeed.srcObject) {
        console.error('Webcam feed not available');
        return;
    }

    // Capture images every 2 seconds (adjust the interval as needed)
    const captureInterval = setInterval(() => {
        if (imageCaptureCount < 3) {
            // Create a new image element
            const img = document.createElement('img');
            img.className = 'img-thumbnail mr-2';

            // Draw the current frame onto the canvas
            const canvas = document.createElement('canvas');
            canvas.width = cameraFeed.videoWidth;
            canvas.height = cameraFeed.videoHeight;
            const context = canvas.getContext('2d');
            context.drawImage(cameraFeed, 0, 0, canvas.width, canvas.height);

            // Get the image data from the canvas
            const imageData = canvas.toDataURL('image/png');

            // Set the image source to the captured image data
            img.src = imageData;
                       
            // Append the image to the preview container

            previewContainer.appendChild(img);

            // Increment the capture count
            imageCaptureCount++;

            // Check if we have captured enough images
            if (imageCaptureCount === 3) {
                clearInterval(captureInterval);

            }
        } else {
            clearInterval(captureInterval);
                        // Set the FormData to the file input

        }
    }, 1000); // Adjust the interval (in milliseconds) as needed
}


function stopCamera() {
  const previewContainer1 = document.getElementById('new-preview');
  const previewContainermain = document.getElementById('preview-container2');
  const fileInput = document.getElementById('cam_files');

  var cameraFeed = document.getElementById('cameraFeed');
  var stream = cameraFeed.srcObject;

  if (stream) {
      var tracks = stream.getTracks();

      tracks.forEach(function (track) {
          track.stop();
      });

      // Stop the video element to immediately turn off the camera
      cameraFeed.pause();
      cameraFeed.srcObject = null;

      // Reset capture count
      imageCaptureCount = 0;

      var clonedContent = previewContainer1.cloneNode(true);
      previewContainermain.appendChild(clonedContent)

        // Convert the cloned content to images
        const images = convertClonedContentToImages(clonedContent);

        // Create a new FileList object
        const files = [];

        // Add each image as a file to the FileList
        images.forEach((image, index) => {
            const blob = dataURItoBlob(image.src);
            const imageFile = new File([blob], `captured_image_${index + 1}.png`, { type: 'image/jpg' });
            files.push(imageFile); 
                 });

        setFiles(fileInput, files);


      
      
      document.getElementById('cameraDevice').value = '';

      // Clear the preview container
      previewContainer1.innerHTML = "";

      document.getElementById('modelbtn').disabled = true;



      console.log("Camera stopped");
  }
}
function setFiles(input, files) {
  const dataTransfer = new DataTransfer();

  for (const file of files) {
      dataTransfer.items.add(new File([file], file.name, { type: file.type }));
  }

  input.files = dataTransfer.files;
}


function convertClonedContentToImages(container) {
  const images = [];

  // Clone the content
  const clonedContent = container.cloneNode(true);

  // Get all img elements from the cloned content
  const clonedImages = clonedContent.getElementsByTagName('img');

  // Convert HTMLCollection to an array
  const clonedImagesArray = Array.from(clonedImages);

  // Add each cloned image to the images array
  clonedImagesArray.forEach((clonedImage) => {
      images.push(clonedImage);
  });
  return images;
}

function dataURItoBlob(dataURI) {
    const byteString = atob(dataURI.split(',')[1]);
    const ab = new ArrayBuffer(byteString.length);
    const ia = new Uint8Array(ab);
    for (let i = 0; i < byteString.length; i++) {
        ia[i] = byteString.charCodeAt(i);
    }
    return new Blob([ab], { type: 'image/png' });
}


function removeOption(selectId, valueToRemove) {
  var selectElement = document.getElementById(selectId);

  for (var i = 0; i < selectElement.options.length; i++) {
      if (selectElement.options[i].value === valueToRemove) {
          selectElement.remove(i);
          break;
      }
  }
}
</script>
{% endblock %}
